<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sound and Music</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
        .sideNav a {
            text-align: center;
            color: black;
            border-radius: 5px !important;
            background-color: #a0faaa;
            text-transform: uppercase;
            font-weight: 600;
        }

        .sideNav a:hover {
            transition: background-color 0.6s;
            color: #fff !important;
            background-color: darkgreen;
        }

        .active a {
            color: #fff;
            background-color: darkgreen;
        }

        .paragraphStroke {
            color: white;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }

        .btmText {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .tab-pane {
            height: 90vh;
        }

        #backgroundDiv {
            height: 100vh;
        }
    </style>
</head>

<body>
    <div class="container-fluid pt-3" id="backgroundDiv">

        <div class="row">
            <ul class="nav flex-column pt-5 pl-2">
                <li class="nav-item sideNav active">
                    <a class="nav-link pt-5 pb-5 mb-1" href="/spring">Spring</a>
                </li>
                <li class="nav-item sideNav">
                    <a class="nav-link pt-5 pb-5 mb-1" href="/summer">Summer</a>
                </li>
                <li class="nav-item sideNav">
                    <a class="nav-link pt-5 pb-5 mb-1" href="/autumn">Autumn</a>
                </li>
                <li class="nav-item sideNav">
                    <a class="nav-link pt-5 pb-5 mb-1" href="/winter">Winter</a>
                </li>
            </ul>

            <div class="col">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#germany" role="tab"
                            aria-controls="germany" aria-selected="true">Germany</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#japan" role="tab"
                            aria-controls="japan" aria-selected="false">Japan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#canada" role="tab"
                            aria-controls="canada" aria-selected="false">Canada</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#russia" role="tab"
                            aria-controls="russia" aria-selected="false">Russia</a>
                    </li>
                </ul>

                <!-- this represents the content of the tabbed section for each country-->
                <div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade show active" id="germany" role="tabpanel" aria-labelledby="germany-tab"
                        th:style="'background:url('+${spring.getBackgroundFiles().get(1)} +'); 
                        background-size: cover; '">
                        <br />

                        <p class="paragraphStroke pl-3">Mendelssohn - Frühlingslied*</p>
                        <audio controls>
                            <source src="/songs/spring/sprg1" type="audio/aac">
                        </audio><br /><br />

                        <p class="paragraphStroke pl-3">ANNELIESE ROTHENBERGER - Die Mainacht*</p>
                        <audio controls>
                            <source src="/songs/spring/sprg2" type="audio/aac">
                        </audio><br /><br />

                        <p class="paragraphStroke pl-3"> Christ ist erstanden, by Johann Walther*</p>
                        <audio controls>
                            <source src="/songs/spring/sprg3" type="audio/aac">
                        </audio><br /><br />
                        <div class="paragraphStroke btmText pl-4 pb-2" th:text=${spring.getText().get(1)}></div>
                    </div>

                    <div class="tab-pane fade" id="japan" role="tabpanel" aria-labelledby="japan-tab" th:style="'background:url('+${spring.getBackgroundFiles().get(2)} +'); 
                    background-size: cover; '">
                        <br />

                        <p class="paragraphStroke pl-3">Sakura Sakura - Japanese traditional folk song*</p>
                        <audio controls>
                            <source src="/songs/spring/sprj1" type="audio/aac">
                        </audio><br /><br />

                        <p class="paragraphStroke pl-3">Yumi Matsutoya - Haru yo koi*</p>
                        <audio controls>
                            <source src="/songs/spring/sprj2" type="audio/aac">
                        </audio><br /><br />

                        <p class="paragraphStroke pl-3">Takako Matsu - Ashita, Haru ga Kitara*</p>
                        <audio controls>
                            <source src="/songs/spring/sprj3" type="audio/aac">
                        </audio><br /><br />
                        <div class="paragraphStroke btmText pl-4 pb-2" th:text=${spring.getText().get(2)}></div>
                    </div>

                    <div class="tab-pane fade" id="canada" role="tabpanel" aria-labelledby="canada-tab" th:style="'background:url('+${spring.getBackgroundFiles().get(3)} +'); 
                        background-size: cover; '">
                        <br />
                        <p class="paragraphStroke pl-3">The Free Design - Canada In Springtime*</p>
                        <audio controls>
                            <source src="/songs/spring/sprc1" type="audio/aac">
                        </audio><br /><br />

                        <p class="paragraphStroke pl-3">Sam Boer - Month of May*</p>
                        <audio controls>
                            <source src="/songs/spring/sprc2" type="audio/aac">
                        </audio><br /><br />

                        <p class="paragraphStroke pl-3">Andy Shauf - 'The Magician'*</p>
                        <audio controls>
                            <source src="/songs/spring/sprc3" type="audio/aac">
                        </audio><br /><br />
                        <div class="paragraphStroke btmText pl-4 pb-2" th:text=${spring.getText().get(3)}></div>
                    </div>

                    <div class="tab-pane fade" id="russia" role="tabpanel" aria-labelledby="russia-tab" th:style="'background:url('+${spring.getBackgroundFiles().get(4)} +'); 
                        background-size: cover; '">
                        <br />
                        <p class="paragraphStroke pl-3">Stravinsky - The Rite of Spring. Part 1*</p>
                        <audio controls>
                            <source src="/songs/spring/sprr1" type="audio/aac">
                        </audio><br /><br />

                        <p class="paragraphStroke pl-3">As Life Without Spring (Gardes-Marines, Go Ahead!)*</p>
                        <audio controls>
                            <source src="/songs/spring/sprr2" type="audio/aac">
                        </audio><br /><br />

                        <p class="paragraphStroke pl-3">Sergey Rachmaninov 'Spring'*</p>
                        <audio controls>
                            <source src="/songs/spring/sprr3" type="audio/aac">
                        </audio><br /><br />
                        <div class="paragraphStroke btmText pl-4 pb-2" th:text=${spring.getText().get(4)}></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        document.addEventListener('play', function (e) {
            var audios = document.getElementsByTagName('audio');
            for (var i = 0, len = audios.length; i < len; i++) {
                if (audios[i] != e.target) {
                    audios[i].pause();
                }
            }
        }, true);
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>